
body {
  background-color: #1D2475;
  font-family: sans-serif;
  color: #939396;
  background-image: url("cse326bg.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-size: 40pt;
  color: #F7931E;
  text-shadow: 3px 3px green;
}
h2 {
  color: #F7931E;
}
dl {
  font-size: 70%;
}
table {
  border-style: dotted;
  border-collapse: collapse;
}
dt {
  font-weight: bold;
  color: #FFF86B;
}
p:first-letter {
  font-weight: bold;
  font-size: 150%
}
blockquote {
  color: #D1DFEB;
  text-align: left;
}
img {
  outline-style : ridge;
  outline-color: #F7931E;
}
.valid {
  outline-style :none;
}
ul{
  list-style-type:square;
}
li{
  text-align: left;
}
a {
  color: #FF4F4F;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}
